*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
}

.container {
    background-image: url("../css/assets/banque.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container_winner {
    background-image: url("../css/assets/banque2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-right: 30vw;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
}

#box {
    display: grid;
    margin: auto;
    padding: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 3px;
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    background-color: #868282;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.zero
{
    grid-column-start: 2;
    grid-column-end: 3;
    cursor: pointer;
}

#box > div {
    display: grid;
    place-content: center;
    background-color: rgb(65, 62, 62);
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.5em;
}

#box > div:hover {
    background-color: rgb(90, 87, 87);
    border: 1px solid white;
}

.code {
    margin: auto;
    margin-bottom: 0.5em;
    background-color: cadetblue;
    width: 10vw;
    height: 5vh;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
}

.attempts {
    background-color: #505050;
    text-align: center;
    width: 8vw;
    height: 35vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 0.8em;
    color: white;
    font-size: 1em;
}

.timer {
    margin-top: 1em;
    background-color: #263434;
    width: 12vw;
    height: 5vh;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: #6fabc4;
    font-size: 1.2em;
    font-family: math;
}


